<html lang="en">

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <p>{{>header}}</p>
    </header>
    <p>{{body}}</p>

    <form>
        <textarea id=myTextArea placeholder="Enter your text here ..."></textarea><br>
        <button>Send</button>
    </form>
    <pre>
        <code>
            <p id="result">{{result}}</p>
        </code>
    </pre>    
    <footer>
        {{>footer}}
    </footer>
    <script src="/js/app.js"></script>
</body>
</html>