<html lang="en">

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <p>{{>header}}</p>
    </header>
    <p>{{body}}</p>

    <form id="get-resp">
        <textarea id=myTextArea placeholder="Enter your text here ..."></textarea><br><br>
        <button class="my-button">GET</button>
    </form>
        <textarea id="result">{{result}}</textarea> <br><br>
    <form id="post-resp">
        <button class="my-button">POST</button>
    </form>
        <textarea id="result2">{{result}}</textarea> <br><br>
    <footer>
        {{>footer}}
    </footer>
    <script src="/js/app.js"></script>
</body>
</html>