<div style="display: flex; align-items: center;">
    <img src="/img/ChatGPT_logo.png" style="margin-right: 10px;"/>
    <h1>{{title}}</h1>
</div>
<div>
    <a id="homelink" href="/">Home</a>
    <a href="help">Help</a>
    <a href="about">About</a>
</div>