h1 {
    color: forestgreen;
}

img {
    width: 100px;
    height: 100px;
}
p {
    background-color: royalblue;
    color: #fff;
    padding: 20px;
    text-align: center;
}
  
p {
    background-color: royalblue;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  