h1 {
    color: black;
}

img {
    width: 100px;
    height: 100px;
}

body {
  background-color: white;
}
header {
    background-color: darkgoldenrod;
    color: #fff;
    padding: 20px;
    text-align: left;
}

.header a {
  color: red;
}

  
.my-button {
  display: inline-block;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}
.my-button:active {
  background-color: #4CAF50;
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

footer {
    position: fixed; /* Set the position of the footer to fixed */
    bottom: 0;
    background-color: darkgoldenrod;
    color: #fff;
    padding: 10px;
    text-align: left;
    position: relative;
    width: 100%;
  }
  textarea {
    font-size: 16px; /* set the default font size */
    width: 100%; /* set the width to fill the parent container */
    min-height: 100px; /* set a minimum height */
    resize: auto; /* disable resizing */
    overflow: auto; /* hide overflow text */
    background-color: #f2f2f2;
  }

  
  